## Table: Cinema

- +----------------+----------+
- | Column Name    | Type     |
- +----------------+----------+
- | id             | int      |
- | movie          | varchar  |
- | description    | varchar  |
- | rating         | float    |
- +----------------+----------+
### id is the primary key (column with unique values) for this table.
Each row contains information about the name of a movie, its genre, and its rating.
rating is a 2 decimal places float in the range [0, 10]
 

## Write a solution to report the movies with an odd-numbered ID and a description that is not "boring".

- Return the result table ordered by rating in descending order.

## Solution with SQL
- SELECT * FROM Cinema
- WHERE (id % 2=1) AND description != 'boring'
- ORDER BY id DESC;

## Solution with pandas

In [1]:
import pandas as pd
data = {
    "id": [1, 2, 3, 4, 5],
    "movie": ["War", "Science", "irish", "Ice song", "House card"],
    "description": ["great 3D", "fiction", "boring", "Fantacy", "Interesting"],
    "rating": [8.9, 8.5, 6.2, 8.6, 9.1]
}
cinema=pd.DataFrame(data)
result=cinema[(cinema['id'] % 2==1) & (cinema['description'] != 'boring')]
result=result.sort_values(by='id',ascending=False)
result

   id       movie  description  rating
4   5  House card  Interesting     9.1
0   1         War     great 3D     8.9