## Table: Sales

- +-------------+-------+
- | Column Name | Type  |
- +-------------+-------+
- | sale_id     | int   |
- | product_id  | int   |
- | year        | int   |
- | quantity    | int   |
- | price       | int   |
- +-------------+-------+
## (sale_id, year) is the primary key (combination of columns with unique values) of this table.
product_id is a foreign key (reference column) to Product table.
Each row of this table shows a sale on the product product_id in a certain year.
Note that the price is per unit.
 

## Table: Product

- +--------------+---------+
- | Column Name  | Type    |
- +--------------+---------+
- | product_id   | int     |
- | product_name | varchar |
- +--------------+---------+
## product_id is the primary key (column with unique values) of this table.
Each row of this table indicates the product name of each product.
 

## Write a solution to report the product_name, year, and price for each sale_id in the Sales table.

- Return the resulting table in any order.

## Solution with SQL 
- SELECT Product.product_name , Sales.year , Sales.price
- FROM Sales
- INNER JOIN Product
- ON Product.product_id=Sales.product_id;

## Solution with pandas

In [2]:
import pandas as pd  
sales_data = {
    "sale_id": [1, 2, 7],
    "product_id": [100, 100, 200],
    "year": [2008, 2009, 2011],
    "quantity": [10, 12, 15],
    "price": [5000, 5000, 9000]
}
product_data = {
    "product_id": [100, 200, 300],
    "product_name": ["Nokia", "Apple", "Samsung"]
}
sales_data_df=pd.DataFrame(sales_data)
product_data_df=pd.DataFrame(product_data)
result=pd.merge(sales_data_df,product_data_df,on='product_id',how='inner')
result=result[['product_name','year','price']]
result

  product_name  year  price
0        Nokia  2008   5000
1        Nokia  2009   5000
2        Apple  2011   9000