## Table: Employees

- +---------------+---------+
- | Column Name   | Type    |
- +---------------+---------+
- | id            | int     |
- | name          | varchar |
- +---------------+---------+
## id is the primary key (column with unique values) for this table.
Each row of this table contains the id and the name of an employee in a company.
 

## Table: EmployeeUNI

- +---------------+---------+
- | Column Name   | Type    |
- +---------------+---------+
- | id            | int     |
- | unique_id     | int     |
- +---------------+---------+
## (id, unique_id) is the primary key (combination of columns with unique values) for this table.
Each row of this table contains the id and the corresponding unique id of an employee in the company.
 

## Write a solution to show the unique ID of each user, If a user does not have a unique ID replace just show null.

- Return the result table in any order.

## Solution with SQL
- SELECT Employees.name , EmployeeUNI.unique_id
- from Employees
- LEFT JOIN EmployeeUNI
- ON Employees.id=EmployeeUNI.id;

## Solution with pandas

In [1]:
import pandas as pd

In [2]:
employees_data = {
    "id": [1, 7, 11, 90, 3],
    "name": ["Alice", "Bob", "Meir", "Winston", "Jonathan"]
}
employee_uni_data = {
    "id": [3, 11, 90],
    "unique_id": [1, 2, 3]
}
employees_data_df=pd.DataFrame(employees_data)
employee_uni_data_df=pd.DataFrame(employee_uni_data)
result=pd.merge(employees_data_df,employee_uni_data_df,on='id',how='left')
result

   id      name  unique_id
0   1     Alice        NaN
1   7       Bob        NaN
2  11      Meir        2.0
3  90   Winston        3.0
4   3  Jonathan        1.0