## Table: Visits

- +-------------+---------+
- | Column Name | Type    |
- +-------------+---------+
- | visit_id    | int     |
- | customer_id | int     |
- +-------------+---------+
## visit_id is the column with unique values for this table.
This table contains information about the customers who visited the mall.
 

## Table: Transactions

- +----------------+---------+
- | Column Name    | Type    |
- +----------------+---------+
- | transaction_id | int     |
- | visit_id       | int     |
- | amount         | int     |
- +----------------+---------+
## transaction_id is column with unique values for this table.
This table contains information about the transactions made during the visit_id.
 

## Write a solution to find the IDs of the users who visited without making any transactions and the number of times they made these types of visits.

- Return the result table sorted in any order.

## solution with SQL
- SELECT Visits.customer_id , count(Visits.visit_id) AS count_no_trans
- FROM Visits
- LEFT JOIN Transactions
- ON Visits.visit_id = Transactions.visit_id
- WHERE Transactions.transaction_id is NULL 
- group by Visits.customer_id;

## Solution with pandas

In [1]:
import pandas as pd  
visits_data = {
    "visit_id": [1, 2, 4, 5, 6, 7, 8],
    "customer_id": [23, 9, 30, 54, 96, 54, 54]
}
transactions_data = {
    "transaction_id": [2, 3, 9, 12, 13],
    "visit_id": [5, 5, 5, 1, 2],
    "amount": [310, 300, 200, 910, 970]
}
visits_data_df=pd.DataFrame(visits_data)
transactions_data_df=pd.DataFrame(transactions_data)
result=pd.merge(visits_data_df,transactions_data_df,on='visit_id',how='left')
result=result[result['transaction_id'].isna()]
R=result.groupby('customer_id').size().reset_index(name='count_no_trans')
R

   customer_id  count_no_trans
0           30               1
1           54               2
2           96               1