## Table: Weather

- +---------------+---------+
- | Column Name   | Type    |
- +---------------+---------+
- | id            | int     |
- | recordDate    | date    |
- | temperature   | int     |
- +---------------+---------+
## id is the column with unique values for this table.
There are no different rows with the same recordDate.
This table contains information about the temperature on a certain day.
 

## Write a solution to find all dates' id with higher temperatures compared to its previous dates (yesterday).

- Return the result table in any order.

## Solution with SQL
- SELECT Weather.id 
- FROM Weather
- join Weather w2
- ON DATE(Weather.recordDate)=DATE(w2.recordDate)+ INTERVAL 1 DAY
- WHERE Weather.temperature >  w2.temperature;

## Solution with pandas

In [1]:
import pandas as pd  
data = {
    "id": [1, 2, 3, 4],
    "recordDate": ["2015-01-01", "2015-01-02", "2015-01-03", "2015-01-04"],
    "temperature": [10, 25, 20, 30],
}
data_df=pd.DataFrame(data)
data_df['recordDate']=pd.to_datetime(data_df['recordDate'])
data_df=data_df.sort_values(by='recordDate')
data_df['temp_diff']=data_df['temperature'].diff()
result=data_df.loc[data_df['temp_diff']>0,['id']]
result

   id
1   2
3   4