# SQL Query to Calculate Unique Subjects Taught by Each Teacher

## Table: Teacher

| Column Name | Type |
|-------------|------|
| teacher_id  | int  |
| subject_id  | int  |
| dept_id     | int  |

- (subject_id, dept_id) is the primary key (combinations of columns with unique values) of this table.
- Each row in this table indicates that the teacher with `teacher_id` teaches the subject `subject_id` in the department `dept_id`.

## Task
Write a solution to calculate the number of unique subjects each teacher teaches in the university.

## Solution with SQL

```sql
SELECT teacher_id, COUNT(DISTINCT subject_id) AS cnt
FROM Teacher
GROUP BY teacher_id;

## Solution with Pandas

In [1]:
import pandas as pd  
data = {
    "teacher_id": [1, 1, 1, 2, 2, 2, 2],
    "subject_id": [2, 2, 3, 1, 2, 3, 4],
    "dept_id": [3, 4, 3, 1, 1, 1, 1]
}
df = pd.DataFrame(data)
result=df.groupby('teacher_id')['subject_id'].unique().reset_index(name='cnt')
result

   teacher_id           cnt
0           1        [2, 3]
1           2  [1, 2, 3, 4]