## Table: Tweets

- +----------------+---------+
- | Column Name    | Type    |
- +----------------+---------+
- | tweet_id       | int     |
- | content        | varchar |
- +----------------+---------+
#### tweet_id is the primary key (column with unique values) for this table.
content consists of characters on an American Keyboard, and no other special characters.
This table contains all the tweets in a social media app.
 

### Write a solution to find the IDs of the invalid tweets. The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15.

- Return the result table in any order.

## Solution with SQL
- SELECT tweet_id FROM Tweets
- WHERE LENGTH (content) > 15;

## Solution with Pandas

In [1]:
import pandas as pd
data = {
    "tweet_id": [1, 2],
    "content": ["Let us Code", "More than fifteen chars are here!"]
}
tweets=pd.DataFrame(data)
result=tweets[tweets['content'].str.len() >=15][['tweet_id']]
result

   tweet_id
1         2